<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
                <binding name="TipoCambioSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="wsCalculadora.CalculatorSoap" name="CalculatorSoap" />
            <endpoint address="http://www.banguat.gob.gt/variables/ws/TipoCambio.asmx"
                binding="basicHttpBinding" bindingConfiguration="TipoCambioSoap"
                contract="wsCasaCambioGuatemala.TipoCambioSoap" name="TipoCambioSoap" />
        </client>
    </system.serviceModel>
</configuration>